*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.cont-img {
  position: relative;
  margin-top: 6rem; }

.cont-text {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  position: absolute;
  color: white;
  z-index: 5;
  top: 7rem;
  left: 5rem; }

.phone-sect-text {
  display: flex;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

.box {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  align-items: center;
  font-family: Calibri; }

.box2 {
  text-align: center;
  width: 30%;
  font-size: 1.5rem;
  font-family: Calibri; }

.box3 {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  align-items: center;
  font-family: Calibri; }

.fun1 {
  width: 12%;
  margin: 0 auto;
  margin-top: 4rem; }

.fun {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
  margin-top: 2rem;
  margin-bottom: 0 !important; }

.edit1 {
  color: black;
  margin-top: -.1rem;
  margin-bottom: .2rem;
  font-family: Arial Narrow;
  font-weight: 750; }

.edit0 {
  color: #e6630c;
  margin: 1rem 0;
  font-family: Arial Narrow; }

.edit {
  text-transform: uppercase;
  font-weight: 750; }

.edit2 {
  margin: 1rem 0;
  font-family: Arial Narrow;
  font-weight: 750; }

.edit3 {
  margin: 1rem 0;
  color: #db590e;
  font-family: Arial Narrow; }

.edit4 {
  margin: 1rem 0;
  font-family: Arial Narrow;
  font-weight: 750; }

.phone-sect-tt {
  display: flex;
  width: 90%;
  justify-content: space-between; }

.bot {
  width: 40%;
  text-align: center;
  font-size: 1.5rem;
  align-items: center;
  font-family: Calibri; }

.bot1 {
  text-align: center;
  width: 50%;
  align-items: center;
  font-size: 1.5rem;
  font-family: Calibri;
  margin-left: 0 auto; }

.form {
  width: 40%;
  margin-right: 20%;
  margin-left: 10%; }

input {
  padding: .5rem !important;
  margin-bottom: 2rem;
  margin-right: 1rem; }

.get {
  width: 40%; }

.get1 {
  font-size: 1.5rem;
  font-family: Arial Narrow;
  color: #ee4d0e;
  font-weight: 900;
  text-transform: uppercase; }

.about-section {
  background-color: black;
  margin-top: 1.7rem;
  padding: 1rem; }

.about-header {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: Roboto Condensed,Arial,sans-serif; }
  .about-header-sub {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-family: Roboto Condensed,Arial,sans-serif;
    width: 39%;
    margin: 10px auto;
    margin-bottom: 5rem; }

.about-row {
  width: 92%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; }
  .about-row-element {
    margin-bottom: 5rem;
    min-height: 40vh;
    width: 100%;
    color: black; }

.card {
  min-height: 350px;
  perspective: 1rem;
  -moz-perspective: 1rem; }
  .card-side {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    transition: all 1s; }
    .card-side-front {
      transform: rotateY(0deg);
      background-color: #e0e0e0; }
    .card-side-back {
      transform: rotateY(-180deg);
      background-color: #e0e0e0; }
  .card:hover .card-side-front {
    transform: rotateY(180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0deg); }

.front-text {
  font-size: large;
  text-align: center; }

blockquote {
  border-color: #428bca;
  border-left: 3px solid #fe7900;
  font-size: 13px;
  font-style: italic;
  margin: 20px;
  padding: 10px 20px; }

.sect-bottom {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between; }

.sect-col {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center; }

.sect-header {
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 700;
  margin: 2rem auto;
  font-family: Roboto Condensed,Arial,sans-serif;
  line-height: 1.42857; }

.sect-text {
  font-weight: 400;
  color: white;
  font-size: 20px;
  list-style-type: none;
  font-family: Roboto Condensed,Arial,sans-serif;
  line-height: 1.42857; }

@keyframes move {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(14px); } }

.slide {
  width: 100%;
  position: relative; }
  .slide1 {
    background-image: url(https://silverbirdcinemas.com/wp-content/uploads/2021/11/aki-1920x598.jpg);
    object-fit: cover;
    background-size: cover;
    object-position: center; }
  .slide2 {
    background-image: url(https://silverbirdcinemas.com/wp-content/uploads/2021/11/sing-1-1920x598.jpg);
    object-fit: cover;
    background-size: cover;
    object-position: center; }
  .slide3 {
    background-image: url(https://silverbirdcinemas.com/wp-content/uploads/2022/01/355-1920x598.jpg);
    object-fit: cover;
    background-size: cover;
    object-position: center; }
  .slide4 {
    background-image: url(https://silverbirdcinemas.com/wp-content/uploads/2021/11/kinsmen-1920x598.jpg);
    object-fit: cover;
    background-size: cover;
    object-position: center; }
  .slide5 {
    background-image: url(https://silverbirdcinemas.com/wp-content/uploads/2021/11/spid-1920x598.jpg);
    object-fit: cover;
    background-size: contain;
    object-position: center;
    background-repeat: no-repeat; }

.slides {
  height: 50vh; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #e6ff06;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.dots {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%); }

.active, .dot:hover {
  background-color: #e91818; }

.second-slide {
  width: 100%;
  height: 90vh;
  background-color: black;
  position: relative;
  overflow: hidden;
  transition: all 1s;
  align-items: center; }

.row::after {
  display: table;
  content: "";
  clear: both; }

.row {
  margin-top: 4rem;
  width: 500px;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center; }
  .row-element {
    min-width: 40%;
    position: relative;
    margin-right: 1%; }
  .row-img {
    width: 100%;
    height: 50vh; }
    .row-img-show {
      transform: scale(1.2);
      margin-right: 2rem;
      position: relative; }

ul {
  display: grid; }

.active {
  background-color: transparent;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none; }

.activ {
  background-color: transparent !important; }

.act-text {
  background-color: rgba(0, 174, 255, 0.758);
  color: white;
  text-align: center;
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0; }
  .act-text-head {
    text-transform: uppercase;
    margin-bottom: .3rem;
    margin-top: 1.4rem; }
  .act-text-sub {
    font-size: .8rem; }
  .act-text-foot {
    display: flex;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between; }

.trail, .det {
  width: 48%;
  text-transform: capitalize;
  margin-top: 0.6rem; }

.grid {
  display: grid;
  width: 100%;
  column-gap: 3%;
  row-gap: 5%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
  .grid-element {
    background-color: #3287ff;
    border-radius: 4rem;
    padding: 1.5rem 1rem;
    text-align: center;
    box-shadow: 0 0.3rem 0.1rem #949393; }
    .grid-element-header {
      color: white;
      text-transform: capitalize;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
      .grid-element-header-sub {
        color: white;
        text-transform: capitalize;
        margin-bottom: 1rem;
        font-family: Abril Fatface;
        font-weight: 700;
        font-style: normal;
        font-size: 16px; }
  .grid-link-cont {
    background-color: #424141;
    text-align: center;
    padding: .8rem 1rem;
    border-radius: .5rem;
    display: inline-block;
    box-shadow: 0 .3rem .1rem black;
    transition: .3s; }
    .grid-link-cont:hover {
      transform: translateY(3px);
      box-shadow: 0 .1rem .1rem black; }
  .grid-link {
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .8; }

.comingsoon {
  margin-top: 3rem;
  padding: 3rem; }

.come {
  font-size: .8rem;
  font-family: Roboto Condensed,Arial,sans-serif; }

.now {
  color: #3287ff;
  border-bottom: 3px solid #3287ff;
  margin-bottom: 1rem; }

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  width: 100%;
  margin: 0 auto; }
  .grid2-element {
    min-width: 70%;
    position: relative;
    overflow: hidden;
    transition: all .1s;
    margin-top: 1rem; }
    .grid2-element:not(:last-child) {
      margin-right: 2rem; }
    .grid2-element:hover .grid2-rotate {
      opacity: 1;
      transform: rotateY(0deg);
      z-index: 5; }
    .grid2-element:hover .image {
      transform: scale(1.5); }
    .grid2-element:hover .grid2-text {
      opacity: 0; }
    .grid2-element:hover .mid {
      opacity: 0; }
    .grid2-element:hover .ryt {
      display: none; }
  .grid2-rotate {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.842);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    padding: .5rem 1rem;
    transform: rotateY(-180deg);
    transition: all .5s;
    opacity: 0; }
    .grid2-rotate-header {
      text-transform: uppercase;
      font-weight: 900;
      margin: .5rem 0; }
    .grid2-rotate-number {
      background-color: #00a2ff;
      padding: .7rem;
      margin-bottom: .5rem;
      display: inline-block; }
    .grid2-rotate-text {
      font-size: .9rem;
      text-transform: capitalize;
      font-weight: 900; }
      .grid2-rotate-text-title {
        text-transform: capitalize;
        color: gray;
        margin-right: .2rem; }
    .grid2-rotate-circle {
      border: 4px solid white;
      background: #08f7ff none repeat scroll 0 0;
      border-radius: 50%;
      color: #000000;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      height: 65px;
      left: 50%;
      line-height: 60px;
      margin-left: -32.25px;
      margin-top: -32.25px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 50%;
      width: 65px; }
      .grid2-rotate-circle-number {
        font-weight: 90;
        font-size: 1.5rem; }
    .grid2-rotate-details {
      text-transform: capitalize;
      position: absolute;
      bottom: 2rem; }
  .grid2-img {
    height: 70vh;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 3px solid blue;
    transition: all .5s;
    z-index: -5;
    width: 100%; }
  .grid2-text-header {
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .grid2-text-sub {
    color: #4b4a4a;
    text-transform: capitalize; }
  .grid2-details {
    color: gray;
    text-transform: capitalize;
    margin-top: 1rem; }

.ryt {
  position: absolute;
  right: 0 !important;
  top: 1rem !important;
  opacity: 1; }

.mid {
  background: rgba(204, 204, 204, 0.65) none repeat scroll 0 0;
  border-radius: 50%;
  color: #000000;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: 65px;
  left: 50%;
  line-height: 60px;
  margin-left: -32.25px;
  margin-top: -32.25px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  width: 65px;
  border: none; }

.links {
  height: 100%;
  z-index: 100; }
  .links:hover .toolip {
    display: block; }

.header {
  display: flex;
  padding: 1rem 5rem;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  box-shadow: 2px 4px 6px #d1d1d1; }
  .header-col-1 {
    width: 10%; }
  .header-col-2 {
    width: 60%; }
  .header-col-3 {
    width: 25%;
    display: flex;
    justify-content: space-between; }
  .header-link-cont {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-link {
    color: black;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 13px;
    font-weight: 900;
    font-style: normal;
    font-family: "Roboto Condensed", Arial, sans-serif;
    cursor: pointer;
    line-height: 60px; }
  .header-input {
    border-radius: 30rem;
    border: gray solid 2px;
    padding: .7rem 1rem !important;
    text-align: left;
    width: 80%;
    margin: 0 !important;
    outline: none; }
    .header-input:focus {
      border: #3287ff solid 2px; }
    .header-input-link {
      font-size: 1rem;
      color: white;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .header-input-link-cont {
        background-color: #3287ff;
        border-radius: 50%;
        position: relative;
        height: 40px;
        width: 40px; }

a {
  text-decoration: none; }

.tools {
  list-style-type: disc; }

.toolip {
  display: none;
  z-index: 109;
  background-color: black;
  text-align: center;
  padding: 1.5rem 2rem !important;
  border-bottom: solid 0.3rem #3287ff;
  margin-top: .6rem !important;
  overflow-y: visible; }
  .toolip-text {
    text-transform: uppercase;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: .8rem;
    font-style: normal;
    font-weight: 700;
    color: gray; }
    .toolip-text:hover {
      color: #3287ff; }

.pos {
  position: relative; }

.contacts {
  height: 20%;
  padding: 1rem;
  top: 4rem;
  position: absolute !important; }

.nowshowing {
  text-align: left;
  position: absolute;
  top: 4rem;
  width: 17%; }

.tooliptext {
  color: gray;
  text-transform: uppercase;
  font-size: .8rem;
  border-bottom: 1px solid gray;
  margin-bottom: 1.2rem;
  padding-bottom: .5rem;
  margin-top: .6rem; }
  .tooliptext:hover {
    color: #3287ff; }

.nop {
  margin-left: 1xrem; }

.circ {
  background-color: gray;
  height: 5px;
  width: 5px;
  margin-top: .1rem;
  margin-left: 0;
  left: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  position: absolute; }

hr {
  display: none; }

.tri {
  position: absolute;
  background-color: black;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 30%;
  height: 50%;
  top: -.5rem;
  left: 1rem;
  z-index: 109; }

.tri-now {
  position: absolute;
  background-color: black;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 10%;
  height: 5%;
  top: -.5rem;
  left: 1rem;
  z-index: -10; }

.prices {
  height: 20%;
  position: absolute;
  top: 4rem; }
